@import "~/src/scss/index.scss";

.topBar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  z-index: 5;
  background: linear-gradient(to top, $base, $base-hover);

  // Media Query para pantallas pequeñas
  @media screen and (max-width: 991px) {
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    .left,
    .center,
    .right {
      width: 100%;
      margin-bottom: 10px; // Ajusta según tus necesidades
    }
  }
}

.left {
  width: 15%;

  img {
    height: 40px;
  }

  // Media Query para pantallas pequeñas
  @media screen and (max-width: 991px) {
    width: 100%;

    img {
      display: inline !important;
    }
  }

  @media screen and (max-width: 767px) {
    img {
      height: 30px;
    }
  }
}

.center {
  width: 65%;
  display: flex;
  justify-content: center;

  > span {
    color: $text-secondary;
  }

  // Media Query para pantallas pequeñas
  @media screen and (max-width: 991px) {
    width: 100%;
  }
}

.right {
  width: 20%;
  display: flex;
  justify-content: flex-end;

  // Media Query para pantallas pequeñas
  @media screen and (max-width: 991px) {
    width: 100%;
    justify-content: center; // Centra el contenido en pantallas pequeñas
  }
}
