@import "~/src/scss/index.scss";

.topBar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  z-index: 5;
  background: linear-gradient(to top, $base, $base-hover);
}

.left {
  width: 25%;

  img {
    height: 40px;
  }
}

.center {
  width: 60%;
  display: flex;
  justify-content: center;
  > span {
    color: $text-secondary;
  }
}

.right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
