@import "~/src/scss/index.scss";

.address {
  background-color: $background-quaternary;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
  }
}

.address_info {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.title {
  margin-right: 5px;
  font-weight: bold;
  font-size: 16px;
  color: $contrast !important;
}

.addressInfo {
  color: $text-secondary;
  font-size: 15px;
  margin-right: 5px;
}

.actions {
  justify-content: flex-end;
  margin: 1rem 0 0;
  > button {
    padding: 12px !important;
    margin-left: 10px !important;
  }
}
