@import "~/src/scss/index.scss";

.socialBar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  z-index: 5;
  background: $contrast;
}

.left {
  width: 40%;
  color: $text-primary;
  font-size: 17px;
}

.center {
  width: 15%;
  display: flex;
  justify-content: center;

  > span {
    color: $text-primary;
    font-size: 17px;
  }
}

.right {
  width: 45%;
  display: flex;
  justify-content: flex-end;

  > a {
    margin: 0 0.6rem;
    color: $text-primary;

    > i {
      &:hover {
        color: $contrast-dark;
      }
    }
  }
}
